.container{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px;
}
.header{
    text-align: center;
}
.add{
    margin-left: 10px;
    background-color: green;
    color: white;
}
.b1{
    margin-right: 5px;
    margin-bottom: 10px;
}
.b2{
    margin-left: 5px;
    margin-bottom: 10px;
}
.del{
    background-color: red;
    color: white;
}

.s1{
    margin-right: 5px;
}
.s2{
    margin-left: 5px;
    margin-right: 10px;
}
